/* RESET DE CONFIGURAÇÃO DE NAVEGADOR */
* {
    margin: 3%;
    padding: 10%; 
    box-sizing: border-box;
}

body {
    background-image: url("assets/tech-image.avif");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    margin: 10px 0;
    color: aliceblue;
    
}
p {
    text-align: center;
    color: rgb(0, 234, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}   
h2{
    color: rgb(255, 255, 255);
}

ul{
    display: flex;
    padding: 2%;
    justify-content: space-between;

}

li{
    list-style-type: none;
}

a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px auto ;

}
button{
    display: block;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px auto;
    background-color: aqua;
}